<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Yelp Camp</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="img-thumbnail">
      <img class="img-responsive" src="<%= campground.image %>">
      <div class="caption-full">
        <h4 class="float-md-right">$9.00/night</h4>
        <h4><a href="#"><%=campground.name%></a></h4>
        <p><%= campground.description %></p>
        <p>
          <em>Submitted by <strong><%= campground.author.username %></strong></em>
        </p>
        <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
        <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
        <form id="delete-form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
        </form>
        <% }%>
      </div>
      </div>
      <div class="card">
      <!-- <div class="card-header"></div> -->
      <div class="card-body">
        <a class="btn btn-success btn-lg float-right"href="/campgrounds/<%=campground._id %>/comments/new">Add New Comment</a>
        <br>
        <br>
        <hr>

        <% campground.comments.forEach(function(comment){ %>
          <div class="row">
            <div class="col-md-12">
              <strong><%= comment.author.username %></strong>
              <span class="float-right">10 days ago</span>
              <p> - <%= comment.text %></p>
              <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
              <a class="btn btn-sm btn-warning bt-color"
              href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
              <form id="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                <input type="submit" class="btn btn-sm btn-danger" value="Delete">
              </form>
              <% } %>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>
